@model DieticianApp.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register as Patient";
}

<section class="py-5 position-relative bg-light d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col-xxl-6 mx-auto">
                                <div class="card mb-0 border-0 shadow-none mb-0">
                                    <div class="card-body p-sm-5 m-lg-4">
                                        <div class="text-center mt-5">
                                            <h2 class="text-muted">Registration as Patient.</h2>
                                            <img width="96" height="96" src="https://img.icons8.com/color/96/user.png" alt="user" />
                                        </div>
                                        <div class="p-2 mt-5">
                                            <form asp-action="RegistrationPatient">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="mb-3">
                                                    <div class="input-group overflow-hidden">
                                                        <span class="input-group-text auth-input"><i class="fa-solid fa-user"></i></span>
                                                        <input asp-for="Email" type="text" class="form-control" placeholder="Enter email">
                                                    </div>
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="input-group overflow-hidden">
                                                        <span class="input-group-text auth-input"><i class="fa-solid fa-signature"></i></span>
                                                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name">
                                                    </div>
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="position-relative overflow-hidden">
                                                        <div class="input-group">
                                                            <span class="input-group-text auth-input"><i class="fa-solid fa-lock"></i></span>
                                                            <input asp-for="Password" type="password" class="form-control pe-5 password-input" placeholder="Enter password">
                                                        </div>
                                                        <span asp-validation-for="Password" class="text-danger"></span>
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="fa-solid fa-eye"></i></button>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="position-relative overflow-hidden">
                                                        <div class="input-group">
                                                            <span class="input-group-text auth-input"><i class="fa-solid fa-lock"></i></span>
                                                            <input asp-for="ConfirmPassword" type="password" class="form-control pe-5 password-input" placeholder="Enter password again">
                                                        </div>
                                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="fa-solid fa-eye"></i></button>
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-primary w-100" type="submit" style="background-color: #4D774E">Sign Up</button>
                                                </div>
                                            </form>
                                            <div class="text-center mt-5">
                                                <p class="mb-1">Do you have account yet?</p>
                                                <a asp-action="LoginPatient" class="text-secondary text-decoration-underline"> Go to Login</a>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
