@model DieticianApp.Models.ViewModel.Patient.PendingPatientViewModel

@{
    ViewData["Title"] = "Pending...";
}

@if (User.IsInRole("Patient"))
{
    <h3 class="alert alert-success">Thanks for setup youre account, we are sign to admin. You're getting a dietician soon! </h3>
}



@* @if (User.IsInRole("Patient"))
{
    <h3 class="alert alert-success">Thanks for setup youre account, please choose a dietician</h3>
    <div class="row">
        @if (Model.Users != null && Model.Users.Any())
        {
            @foreach (var diet in Model.Users)
            {
                <div class="col-xxl-3 col-sm-6">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="mb-4">
                                    <div class="avatar-lg img-thumbnail rounded-circle mb-4 mx-auto"><img src="assets/images/users/avatar-2.jpg" alt="" class="member-img img-fluid d-block rounded-circle"></div>
                                    <div class="text-center">
                                        <h4 class="fs-lg mb-2 text-primary" style="color: #4D774E !important;">@diet.User_Name</h4>
                                        <hr />
                                        <h6 class="fs-lg mb-2 text-primary" style="color: #4D774E !important;">@diet.Email</h6>
                                        <p class="text-muted fs-md member-designation mb-0">Dietician</p>
                                        @diet.Dieticians.Dietician_Id
                                    </div>
                                </div>

                                <div class="text-center">
                                    <form asp-controller="ChooseDietician" asp-action="ChooseDietician" asp-route-id="@diet.Dieticians.Dietician_Id">
                                        <button class="btn btn-outline-primary">Choose</button>
                                    </form>
                                </div>
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            }
        }
    </div>

} *@