*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link .nav-link:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #9DC88D;
}

.form-control:focus, .form-check-input:focus {
    box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f4f5f7;
}

.auth-input {
    border-left: 3px solid #9DC88D;
    margin-bottom: 0;
    background-color: #ffffff;
}

input:focus {
    border: 2px solid #9DC88D!important;
}

.hero{
    width: 100%;
    min-height: 80vh;
    position: relative;
    padding: 120px 0 60px 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

.section {
    color: #ffffff;
    background-color: #4D774E;
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
}

.hero h1{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.hero h3 {
    color: #E0E1DD;
}

ul li a.dropdown-item:hover {
    color: black;
}

dropdown-item:active {
    background-color: #719271 !important;
}

.header {
    background-color: #4D774E;
}

.navbar-nav.ms-auto {
    margin-left: auto;
}

.navbar-light .container-fluid {
    display: flex;
    justify-content: center;
}

.navbar-light .navbar-text {
    text-align: center;
}

textarea.form-control:focus {
    border:2px solid #9DC88D;
    box-shadow: 0 0 0 0.2rem rgba(77, 119, 78, 0.25);
}

.fs-1rem {
  font-size: 1rem;
}

.bx-shadow {
    box-shadow: 0 .25rem .75rem 0 rgba(34, 48, 62, .14);
}

.text-bg-warning {
    color: #fff !important;
    background-color: #f58700 !important;
}
